.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  user-select: none;
}

.error {
  border-color: transparent;
  outline: 1px solid tomato;
}

.error-message {
  color: tomato;
  font-size: 12px;
  margin-top: 5px;
}

.active-filter {
  background-color: #00ffee;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
